.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.shuffled-words-div {
  display: flex;
  gap: 1rem;
}

.char {
  text-align: center;
  padding: 1rem 2rem;
  border: 2px solid white;
  font-size: 2rem;
  background-color: brown;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.the-answer-div {
  background-color: #778DA9;
  min-width: 100px;
  max-width: 100%;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}